<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",inital-scale="1.0">
    <title>博客发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="./css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css">
</head>
<body>
<!--导航 -->
<nav class="ui inverted attached segment  m-padded-tb-mini m-shadow-small">
    <div class="ui container " >
        <div class="ui inverted secondary stackable menu " >
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/100/100?image=1060" alt="" class="ui avatar image">
                        麦华军
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#"class="item">注销</a>
                    </div>
                </div>
            </div>
           <!-- <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>

            </div>-->
        </div>

    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show"><!--menu toggle 用来做jQuery的class获取-->
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="item active teal">博客管理</a>
        </div>

    </div>

</div>
<!--中间部分-->
<div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--header-->
            <form action="#" method="post" class="ui form">

                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui  selection compact teal basic dropdown label">
                            <input type="hidden" value="原创">
                            <i class="dropdown icon"></i>
                            <div class=" text"> 原创</div>
                            <div class="menu">
                                <div class="item" data-value="原创">
                                    原创
                                </div>
                                <div class="item" data-value="转载">
                                    转载
                                </div>
                                <div class="item" data-value="翻译">
                                    翻译
                                </div>
                            </div>
                        </div>
                        <input type="text"name="title" placeholder="标题">
                    </div>
                </div>

                <div class="field">
                    <div id="md-content">
                        <textarea name="content" placeholder="博客内容" style="display:none">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;
                        </textarea>
                    </div>

                </div>
                    <div class="two fields">

                        <div class="field">
                            <div class="ui left labeled action input">
                                <label class="ui compact teal basic label">分类</label>
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="type">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">分类</div>
                                    <div class="menu">
                                        <div class="item" data-value="1">错误日志</div>
                                        <div class="item" data-value="2">开发者手册</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="field">
                                <div class="ui left labeled action input">
                                    <label class="ui compact teal basic label">标签</label>
                                    <div class="ui fluid multiple search selection dropdown">
                                        <input type="hidden" name="tag">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">标签</div>
                                        <div class="menu">
                                            <div class="item" data-value="1">java</div>
                                            <div class="item" data-value="2">javascript</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                <div class="filed">
                    <div class="ui fluid left labeled input">
                        <label class="ui teal basic label">首图</label>
                        <input type="text"name="indexPicture" placeholder="首图引用地址">
                    </div>
                </div>

                <div class="inline fields m-margin-top-small">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend" checked class="hidden" >
                            <label for="recommend" >推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="shareInfo" name="shareInfo" class="hidden" >
                            <label for="shareInfo" >转载声明</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="appreciation" name="appreciation" class="hidden" >
                            <label for="appreciation" >赞赏</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="comment" name="comment" class="hidden" >
                            <label for="comment" >评论</label>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <!--三个按钮-->
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button><!--window.history.go(-1)返回上一个页面-->
               <button class="ui secondary button">保存</button>
                    <button class="ui teal button">发布</button>
                </div>

            </form>
        </div>
</div>

<br>
<br>
<!--底部部分-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid"><!--grid分为16份-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>

                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">LaoXiaoYu</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，用来分享编程、记录生活点滴等相关内容</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">I hope to meet you 🌹</p>
    </div>

</footer>



<!--特别要注意editormd.min.js需要导入在jquery的后面-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>
　<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('item m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    /*-------（重点）标题验证，验证信息默认出现在定义的<div class="ui error message"></div>里面--------*/
    $('.ui.form').form({
        fields :{
            title :{
                identifier : 'title',
                rules:[{
                    type : 'empty',
                    prompt : '标题不能为空！'
                }]
            }
        }
    });
//初始化markdown
    var contentEditor;

    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/editormd/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>